#customizePane {
    float: left;
    /*width: 200px;*/

}

#elementPane {
    width: 310px;
    height: 80vh;
    overflow: auto;
}

#examplePane {
    float: right;
    width: 700px;
    height: 600px;
    background: url("example_act.png") top left / contain no-repeat;
}

.colorExample {
    width: 20px;
    height: 20px;
    display: inline-block;
}